<!-- Palette Bar -->
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <span class="navbar-brand">Palette</span>
            </div>

            <form class="navbar-form navbar-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default">2</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">3</button>
                    <button type="button" class="btn btn-default">4</button>
                </div>
            </form>
        </nav>
    </div>
</div>

<!-- Canvas Area -->
<div id="canvasArea" class="row">
    <div class="col-md-9">
        <canvas id="c" height="500px" width="500px" ng-dblclick="handleDblClick($event)">
            Your browser doesn't support HTML5 Canvas
        </canvas>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Selected Object</div>
        </div>
        <div class="panel-body">
            <form role="form">
                <button type="button" class="btn btn-default" ng-click="addObjAttr()">Click me</button>
            </form>
        </div>
    </div>
</div>


<!-- Modal for add new JSON schema object -->
<div class="modal fade" id="addSchemaObjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add new schema object</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="objName">Object Name</label>
                        <input type="text" class="form-control" id="objName" ng-model="objName" placeholder="Enter object name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addSchemaObjModalOk()">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


