<!-- Palette Bar -->
<div class="row">
    <div class="cols-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <span class="navbar-brand">Palette</span>
            </div>

            <form class="navbar-form navbar-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default">2</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">3</button>
                    <button type="button" class="btn btn-default">4</button>
                </div>
            </form>
        </nav>
    </div>
</div>

<!-- Canvas Area -->
<div id="canvasArea" class="row">
    <div class="cols-md-12">
        <canvas id="c" height="500px" width="500px" ng-dblclick="handleDblClick($event)">
            Your browser doesn't support HTML5 Canvas
        </canvas>
    </div>
</div>
